# OpenRouter API Key for AI generation
export OPENROUTER_APIKEY=sk-or-v1-071edfa100ef764c76d76482424e7f30c1ebf37f4051bcfe2554e7f30c1ebf37f4051bcfe2554e5e647d9faf1

# Neo4j Database
export NEO4J_URI=bolt://localhost:7688
export NEO4J_USER=neo4j
export NEO4J_PASSWORD=ghosthacker
# ================================================

# ================================================
# Hume AI API Configuration
# ================================================
export HUME_API=q0nGzfOSBZB4D0HbdZorGxek3wXz5O4XpTG8IkEJ0gY8Wlet
export HUME_API_KEY=LYSOLhalcwGNDdqxtlZOE4172bXGTzg0VxV30BatjXJPUtAULQ6ZoZmyBVTQE19s


# Hume Language(Text) Batch API Endpoint
export HUME_LANGUAGE_URL=https://api.hume.ai/v0/batch/jobs

# OpenAI API Configuration
export OPENAI_API_KEY=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