{:context {:gh "https://ghosthacker.gftd.ai/ns/"},
 :id "gh:vectors/prompts",
 :gh/meta
 #:gh{:name "prompts",
      :sourceFile "prompts.json",
      :count 0,
      :dimensions 1536,
      :model "text-embedding-3-small",
      :updatedAt "2026-01-25T00:00:00Z"},
 :gh/vectors []}
